aspy.yaml==1.2.0
cachetools==3.1.0
certifi==2019.3.9
cfgv==1.6.0
chardet==3.0.4
Click==7.0
cysignals==1.10.2
Cython==0.29.6
fasttext==0.8.3
filelock==3.0.10
Flask==1.0.2
future==0.17.1
futures==3.1.1
google-api-core==1.8.2
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-translate==1.4.0
googleapis-common-protos==1.5.9
googletrans==2.4.0
goslate==1.5.1
grpcio==1.19.0
identify==1.4.1
idna==2.8
importlib-metadata==0.9
importlib-resources==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.3
MarkupSafe==1.1.1
nltk==3.4
nodeenv==1.3.3
numpy==1.16.2
pandas==0.24.1
pluggy==0.9.0
plyvel==1.0.5
pre-commit==1.15.1
protobuf==3.7.1
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pyfasttext==0.4.6
pymongo==3.7.2
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
requests==2.21.0
rsa==4.0
singledispatch==3.4.0.3
six==1.12.0
toml==0.10.0
tox==3.8.6
translate==3.5.0
urllib3==1.24.1
uuid==1.30
virtualenv==16.4.3
Werkzeug==0.15.1
zipp==0.3.3
