Click==7.0
cysignals==1.10.2
Cython==0.29.6
fasttext==0.8.3
Flask==1.0.2
future==0.17.1
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
numpy==1.16.2
pandas==0.24.1
plyvel==1.0.5
pyfasttext==0.4.6
pymongo==3.7.2
python-dateutil==2.8.0
pytz==2018.9
six==1.12.0
Werkzeug==0.15.1
